---
layout: default
---

<div class="home">

  <div class="posts">
    {% for post in paginator.posts %}
      <div class="post">
        <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
          <h1>{{ post.title }}</h1>
          <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</p>
        </a>
        {% if post.tags %}
          <p class="post-content" style="font-size: 50%;">Tags:
          {% for tag in post.tags %}
            <span class="post-tag">{{ tag }}</span>
          {% endfor %}
          </p>
        {% endif %}
        <p class="post-content">{{ post.content }}</p>
      </div>
    {% endfor %}
  </div>

  {% include pagination.html %}
</div>
