<div class="pagination clearfix mb1 mt4">
  <div class="left">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="pagination-item">Newer</a>
    {% else %}
      <span class="pagination-item disabled">Newer</span>
    {% endif %}
  </div>
  <div class="right">
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="pagination-item">Older</a>
    {% else %}
      <span class="pagination-item disabled">Older</span>
    {% endif %}
  </div>
</div>
