---
layout: default
---

{% assign minutes = content | number_of_words | divided_by: 180 %}
{% if minutes == 0 %}
{% assign minutes = 1 %}
{% endif %}

<div class="post-header mb2">
  {% if page.categories[0] == null %}
    {% if page.link %}
      <a href="{{ page.link }}" class="post-link">
    {% endif %}
    <h2>{{ page.title }}</h2>
    {% if page.link %}
      </a>
    {% endif %}
    {% if page.subtitle %}
      <p class="post-meta-subtitle">{{ page.subtitle }}</p>
    {% endif %}
    {% if page.img %}
      <img src="{{ page.img }}" alt="{{ page.alt }}" title="{{ page.alt }}" class="post-meta-image"/>
    {% endif %}
    <p class="post-meta-date">{{ page.date | date: "%b %-d, %Y" }}{% if page.link %} &#x1F517;{% endif %}</p>
    {% if page.update_date %}
      <span class="post-meta">Updated: {{ page.update_date | date: "%b %-d, %Y" }}</span><br>
    {% endif %}
    {% if page.tags[0] != null %}
      <p class="post-content" style="font-size: 50%;">Tags:
      {% for tag in page.tags %}
        <span class="post-tag">#{{ tag }}</span>
      {% endfor %}
      </p>
    {% endif %}
  {% endif %}
</div>

<article class="post-content">
  {{ content }}
</article>

<div>
  {% if page.categories[0] != null %}
    <div class="post-micro-dateline">
      <span class="post-meta-date">{{ page.date | date: "%b %-d, %Y %r" }}</span>
    </div>
  {% endif %}
</div>

{% if site.show_post_footers %}
  {% include post_footer.html %}
{% endif %}

{% if site.show_related_posts %}
  <h3 class="related-post-title">Related Posts</h3>
  {% for post in site.related_posts %}
    <div class="post ml2">
      <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
        <h4 class="post-title">{{ post.title }}</h4>
        <p class="post-summary">{{ post.summary }}</p>
      </a>
    </div>
  {% endfor %}
{% endif %}
